* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}    
    
header {
    padding: 20px 35px;
    background-color: #39a6b2;
    display: contents;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1, a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(50, 22, 128);
    text-decoration:none;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}


.intro {
    background-image: url("./images/hero-bg.jpg");
    height: 655px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.myself img { 
    height: 200px;
    width: 200px;
    border-radius: 15px;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
 

}

.myself h2 {
    text-align: center;
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

#about-me p {
    text-align: center;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.my-stuff h2 {
    display: flex;
    justify-content: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.my-stuff ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.my-stuff li {
    padding: 22px;

}

.portfolio {
    background-color: rgb(13, 1, 24);
}
.my-stuff img {
    width: 450px;
    height: 200px;
    border: rgb(195, 129, 216) 3px solid;
    border-radius: 15px;
}

.my-stuff img:hover {
    transform: scale(1.2);
    opacity: 0.5;
    
}

.my-stuff p {
    padding: inherit;
}
footer {
    background: #39a6b2;
    padding: 40px 35px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contacts img {
    margin: 0 20px;
    width: 35px;
}

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    #about-me p {
        top: 68%;
    }
}

@media screen and (max-width: 768px) {
    section {
            padding: 30px 15px;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
}

    header nav ul li a {
        font-size: 15px;
    }

    .myself img { 
        height: 150px;
        width: 150px;
        top: 38%;
    }

    .my-stuff img {
        width: 430px;
        height: 180px;

    }
    #about-me p {
        top: 60%;
    }

    footer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

@media screen and (max-width: 500px) {

    .my-stuff img {
        width: 280px;
        height: 100px;
    }

    .myself img { 
        height: 120px;
        width: 120px;
        top: 35%;
    }
    footer h2 {
        text-align: center;
    }

    footer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    #about-me p {
        top: 63%;
    }
}

@media screen and (max-width: 375px){
    #about-me p {
        top: 68%;
    }

    footer {
        padding: 4px 2px;
    }

}
©2022 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
